* {
    box-sizing : border-box;
    margin     : 0;
    padding    : 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width     : 1920px;
    background: #ffffff;
}

/* Top Header */

.top-header {
    display    : flex;
    height     : 40px;
    padding    : 7px 255px;
    font-size  : 15px;
    background : rgba(236, 128, 160, 0.1);
    font-weight: 400;
    position   : relative;
}

.slogan,
.discount {
    height     : 26px;
    line-height: 26px;
}

.slogan {
    width         : 181px;
    color         : #1A1114;
    opacity       : 70%;
    letter-spacing: -0.5px;
}

.discount {
    width         : 386px;
    color         : #C81B10;
    letter-spacing: -0.3px;
    position      : absolute;
    left          : 767px;
}

.lang {
    display : flex;
    gap     : 15px;
    width   : 133px;
    height  : 26px;
    color   : #1A1114;
    position: absolute;
    right   : 255px;
}

.lang div {
    display: flex;
    gap    : 5px;
}

.lang div>p {
    width      : 31px;
    font-size  : 15px;
    line-height: 26px;
    text-align : right;
}

.lang div>span {
    width      : 15px;
    font-size  : 15px;
    line-height: 26px;
    text-align : right;
}

.lang>span {
    width  : 1px;
    height : 20px;
    opacity: 0.1;
}

/* NAV */

nav {
    height     : 110px;
    display    : flex;
    align-items: center;
    background : #FFFFFF;
    box-shadow : 0px 2px 20px 0px #1A11141A;
    padding    : 0 255px;
    position   : relative;
}

ul {
    width          : 325px;
    height         : 26px;
    display        : flex;
    list-style-type: none;
    justify-content: space-between;
}

ul li {
    display        : flex;
    justify-content: space-between;
    line-height    : 26px;
    font-size      : 15px;
    font-weight    : 700;
    text-align     : center;
}

.logo {
    width         : 116px;
    height        : 70px;
    font-size     : 54px;
    font-weight   : 800;
    line-height   : 70px;
    text-align    : center;
    color         : #1A1114;
    letter-spacing: -3.8px;
    position      : absolute;
    left          : 902px;
}

.icons {
    width   : 149px;
    height  : 32px;
    display : flex;
    gap     : 30px;
    position: absolute;
    right   : 255px;
}

.has-number {
    position: relative;
    width   : 32px;
    height  : 32px;
    border  : 1px solid #FFFFFF;
}

.number {
    background: linear-gradient(0deg, #1A1114, #1A1114),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border       : 1px solid #FFFFFF;
    color        : #FFFFFF;
    width        : 20px;
    height       : 20px;
    line-height  : 18px;
    text-align   : center;
    border-radius: 10px;
    position     : absolute;
    z-index      : 1;
    top          : 10px;
    left         : 12px;
}

/* Page Title */

.page-title {
    width : 203px;
    height: 111px;
    margin: 100px 0 0 255px;

}

.title {
    height        : 70px;
    line-height   : 70px;
    font-size     : 54px;
    font-weight   : 700;
    letter-spacing: -5.8px;
}

.link {
    width          : 117px;
    height         : 26px;
    display        : flex;
    line-height    : 26px;
    font-size      : 15px;
    justify-content: space-between;
    margin-top     : 15px;
}

.home {
    color: #1A1114;
}

.link>span {
    color  : #1A1114;
    opacity: 0.2;
}

.about {
    color  : #1A1114;
    opacity: 0.5;
}

/* About1 */

.about1 {
    width     : 1410px;
    height    : 600px;
    display   : flex;
    background: #E5F8FD;
    margin    : 70px 255px 0;
    position  : relative;
}

.about1-content,
.video {
    width: 705px;
}

.about1-content {
    padding: 112px 0 0 90px;
}

.label {
    width        : 106px;
    height       : 36px;
    border-radius: 5px;
    background   : rgba(236, 128, 160, 0.15);
    color        : #EC80A0;
    line-height  : 36px;
    text-align   : center;
    font-size    : 15px;
    font-weight  : 700;
}

.mobile {
    display: none;
}

.about1-content>p {
    width         : 548px;
    height        : 210px;
    text-transform: capitalize;
    font-size     : 54px;
    font-weight   : 700;
    line-height   : 70px;
    letter-spacing: -4.9px;
    color         : #1A1114;
    margin-top    : 20px;
}

.about1-content>button {
    width         : 224px;
    height        : 60px;
    border-radius : 10px;
    border        : none;
    text-transform: uppercase;
    font-weight   : 700;
    font-size     : 20px;
    line-height   : 26px;
    color         : #FFFFFF;
    padding       : 17px 40px;
    background    : #EC80A0;
    margin-top    : 40px;
}

.about1-content>button:hover {
    background: #E76088;
}

.img1 {
    background: url("./asset/1.png");
    display   : block;
}

.cut1 {
    width              : 705px;
    height             : 600px;
    background-position: -9px -4px;
}

.icon {
    width        : 90px;
    height       : 90px;
    background   : #FFFFFF;
    color        : #EC80A0;
    position     : absolute;
    z-index      : 1;
    border-radius: 45px;
    top          : 255px;
    left         : 1013px;
}

.icon>i {
    width      : 34px;
    height     : 81px;
    font-size  : 42px;
    line-height: 81px;
    margin     : 5px 0 5px 33px;
}

.icon:hover {
    background: #EC80A0;
    color     : #FFFFFF;
}

/* Proud Of */

.proud-of {
    width        : 1410px;
    height       : 368px;
    margin       : 100px 255px 0;
    border-radius: 10px;
    position     : relative;
}

.proud-of h2 {
    width         : 525px;
    height        : 70px;
    text-transform: capitalize;
    font-weight   : 700;
    font-size     : 54px;
    line-height   : 70px;
    letter-spacing: -4.8px;
    margin        : 0 auto;
    color         : #1A1114;
}

.proud-of-container {
    display              : grid;
    grid-template-columns: auto auto auto auto;
    gap                  : 30px;
    position             : absolute;
    bottom               : 0;
}

.proud-of-item {
    width        : 330px;
    height       : 248px;
    border-radius: 10px;
    background   : #FFFFFF;
    box-shadow   : 0px 4px 30px 0px #0A1E231A;
    position     : relative;
}

.poi-ind {
    width      : 330px;
    height     : 55px;
    line-height: 55px;
    font-size  : 42px;
    font-weight: 700;
    text-align : center;
    color      : #EC80A0;
    position   : absolute;
    top        : 40px;
}

.poi-name {
    width      : 330px;
    height     : 31px;
    line-height: 31px;
    font-size  : 24px;
    font-weight: 700;
    text-align : center;
    color      : #1A1114;
    position   : absolute;
    top        : 115px;
}

.poi-descp {
    height     : 52px;
    font-weight: 400;
    font-size  : 15px;
    line-height: 26px;
    text-align : center;
    position   : absolute;
    top        : 156px;
    color      : #0A1E23;
}

/* About2 */

.about2 {
    margin     : 100px 255px 0;
    display    : flex;
    gap        : 30px;
    align-items: center;
}

.about2-image {
    display    : flex;
    gap        : 30px;
    align-items: center;
}

.about2-image img {
    border-radius: 20px;
}

.about2-content {
    width        : 450px;
    height       : 550px;
    background   : #FDF4F7;
    border-radius: 20px;
}

.about2-name {
    width         : 368px;
    height        : 140px;
    font-weight   : 700;
    font-size     : 54px;
    line-height   : 70px;
    text-align    : center;
    letter-spacing: -4.4px;
    text-transform: capitalize;
    margin        : 88px auto 0;
}

.about2-descp {
    width      : 323px;
    height     : 104px;
    font-weight: 400;
    font-size  : 15px;
    line-height: 26px;
    text-align : center;
    margin     : 40px auto 0;
}

.about2-content>button {
    width         : 183px;
    height        : 50px;
    border-radius : 10px;
    border        : none;
    text-transform: uppercase;
    font-weight   : 700;
    font-size     : 17px;
    line-height   : 22px;
    color         : #FFFFFF;
    padding       : 14px 30px;
    background    : #EC80A0;
    margin        : 40px 133.5px 0;
}

.about2-content>button:hover {
    background: #E76088;
}

/* Our Team */

.our-team {
    width   : 1410px;
    height  : 510px;
    margin  : 73px 255px 0;
    position: relative;
}

.our-team h2 {
    width         : 222px;
    height        : 70px;
    text-transform: capitalize;
    font-weight   : 700;
    font-size     : 54px;
    line-height   : 70px;
    letter-spacing: -6.4px;
    text-align    : center;
    margin        : 0 auto;
    color         : #1A1114;
}

.our-team-container {
    display              : grid;
    grid-template-columns: auto auto auto auto;
    gap                  : 30px;
    position             : absolute;
    bottom               : 0;
}

.our-team-item {
    width        : 330px;
    height       : 390px;
    border-radius: 10px;
    background   : #FFFFFF;
    box-shadow   : 0px 4px 30px 0px #0A1E231A;
    position     : relative;
}

.oti-img img {
    width        : 130px;
    height       : 130px;
    border-radius: 65px;
    margin       : 40px 100px 0;
}

.oti-name {
    width         : 89px;
    height        : 31px;
    font-weight   : 700;
    font-size     : 24px;
    line-height   : 31px;
    text-align    : center;
    color         : #1A1114;
    margin        : 25px auto 0;
    letter-spacing: -2.2px;
}

.oti-position,
.oti-descp,
.oti-social-icons {
    font-weight: 400;
    font-size  : 15px;
    line-height: 26px;
    text-align : center;
}

.oti-position {
    width         : 108px;
    height        : 26px;
    opacity       : 0.5;
    color         : #1A1114;
    margin        : 5px auto 0;
    letter-spacing: -0.3px;
}

.oti-descp {
    width : 270px;
    height: 52px;
    color : #0A1E23;
    margin: 10px auto 0;
}

.oti-social-icons {
    width          : 96px;
    height         : 26px;
    color          : #1A1114;
    display        : flex;
    justify-content: space-between;
    margin         : 15px auto 0;
}